
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/application.js
!/rollup.config.js
!/package.json
!/yarn.lock
!/docs


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
